<%- include('components/header', { title: 'Piotech INDIA - Professional Web Development & Digital Marketing Services' }); %>
<main class="content">
  <%- include('components/navbar'); %>
  <section class="flex-col justify-center align-center g-1">
    <a class="md">That’s a 404</a>
    <a class="text-lg" style="font-weight: 600;">Page not found</a>
    <a class="md">The page you’re looking for doesn’t exist.</a>
    <a href="/" class="md">Go home</a>
  </section>
  <%- include('components/footer'); %>
</main>
<div style="margin: 0 auto 2rem;" class="text-center text-xs">©2019 Piotech INDIA, Bhadra, Raj 335502 (INDIA).
  <br>All rights reserved.
</div>
</main>
<!-- <script src="/js/script.js"></script> -->
</body>

</html>

