<%- include('components/header', { title: 'Piotech INDIA - Professional Web Development & Digital Marketing Services' }); %>
<main class="content">
  <%- include('components/navbar'); %>
  <%- include('components/main'); %>
  <%- include('components/footer'); %>
</main>
<div style="margin: 0 auto 2rem;" class="text-center text-xs">©2019 Piotech INDIA, Bhadra, Raj 335502 (INDIA).
  <br>All rights reserved.
</div>
</main>
</body>
</html>