<%- include('components/header', { title: 'Help & Support : Piotech INDIA' }); %>
<main class="content">
  <%- include('components/navbar'); %>
  <!-- Support & Help page content here -->

  <!-- Chat Popup Script -->
  <script src="//code.tidio.co/yzo3locnmdk071tftt5fgqj1ik3pgaes.js" async></script>
  
  <%- include('components/footer'); %>
</main>
<div style="margin: 0 auto 2rem;" class="text-center text-xs">©2019 Piotech INDIA, Bhadra, Raj 335502 (INDIA).
    <br>All rights reserved.
  </div>
  </main>
  <!-- <script src="/js/script.js"></script> -->
  </body>
  
  </html>