<header id="navbar" class="flex-col justify-center ">
  <nav class="flex-row justify-center align-center justify-space-between">
    <a class="logo" href="/">Piotech <span>INDIA</span></a>
    <div class="flex-reverse-m align-center">
      <div class="menu">
        <button class="menu-button">&#9776;</button>
        <ul class="menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="submenu">
            <a href="#">Services</a>
            <ul class="submenu-content">
              <li><a href="/404">404</a></li>
              <li><a href="#">####</a></li>
              <li><a href="#">####</a></li>
            </ul>
          </li>
          <li><a href="/policies">Policies</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
      </div>
      <a href="/contact" class="button">Get A Quote!</a>
    </div>
  </nav>
</header>
